* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Header */

.header {
    width: 100%;
    height: 70px;
    background-color: rgb(29, 53, 87);
}

.header h1 {
    float: left;
    margin-left: 70px;
    margin-top: 5px;
    padding: 15px;
    font-size: 27px;
    color: rgb(241, 250, 238);
}

.navRight {
    float: right;
    font-weight: bold;
    font-size: 12px;
    color: 	rgb(29, 53, 87);
    background-color: rgb(232, 255, 229);
    padding: 10px;
    margin-top: 15px;
    margin-right: 40px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(29, 53, 87);
}

.navLeft {
    float: left;
    padding: 25px;
    margin-left: 10px;
}

.navLeft a {
    float: left;
    font-size: 12px;
    color: white;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 20px;
}

/* Content_Home */

.content_home_1 {
    width: 100%;
    height: 570px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(image/Gen_1_Home.jpg);
}



/* Content_News */

.content_news_1 {
    width: 100%;
    height: 120px;
    background-color: rgb(	241, 250, 238);
}

.content_news_2 {
    width: 100%;
    height: 770px;
    background-color: rgb(	232, 255, 229);
}

.content_news_2 div {
    float: left;
    width: 100%;
    height: 240px;
}

.content_news_2 img {
    float: left;
    padding: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-left: 70px;
    width: 345px;
    height: 180px;
}

/* Footer */

.footer {
    width: 100%;
    height: 90px;
    background-color: rgb(29, 53, 87);
}

.float_footer {
    float: left;
    margin-left: 40%;

}

.footer a {
    float: left;
    color: white;
    padding: 5px 20px;
    margin-bottom: 10px;
}

.footer h4 {
    float: left;
    margin-left: 35%;
    padding: 5px;
    color: white;
}