@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Header */

.first-header{
    grid-area: header;
}

.navbar{
    width: 100%;
    text-align: center;
    background: #1D3557;
    overflow: hidden;
    align-items: center;
}

.logo-nav{
    float: left;
    padding-left: 8rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    color: #F1FAEE;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    
}

.col2 a{
    float: left;
    color: #ffff;
    text-align: center;
    padding: 20px 20px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-decoration: none;
    font-size: 17px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.col2 a:hover{
    box-shadow: inset 200px 0 0 0 #ffff;
    color: #1D3557;
}

.register{
    float: right;
    font-weight: bold;
    font-size: 18px;
    color: #1D3557;
    background-color:#F1FAEE;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    margin-right: 50px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(29, 53, 87);
    text-align: center;
}

/* Content_Home */

.content_home_1 {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: baseline;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('image/Gen_1_Home.png');
    object-position: 100%;
}

.atas-tulisan-home{
    padding-bottom: 15px;
    font-size: 50px;
    font-family: 'Varela Round', sans-serif;
}

.tulisan-home{
    padding-left: 10rem;
    color: #F1FAEE;
}

.download-now{
    background-color: #1D3557;
    border: none;
    color: #E8FFE5;
    padding: 12px 40px;
    text-decoration: none;
    margin: 20px 2px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    transition: all 0.5s;
}

.download-now:hover{
    background: #E8FFE5;
    color: #1D3557;
}

/* Content_News */

.content_news_1 {
    width: 100%;
    height: 120px;
    background-color: rgb(	241, 250, 238);
}

.content_news_1 div {
    padding: 15px;
    margin-left: 75px;
}

.content_news_1 h1 {
    float: left;
    width: 100%;
    font-size: 30px;
    padding: 2px;
}

.content_news_1 h2 {
    float: left;
    width: 60%;
    margin-left: 67px;
    padding: 2px;
    font-size: 30px;
}

.content_news_2 {
    width: 100%;
    height: 770px;
    background-color: rgb(	232, 255, 229);
}

.content_news_2 div {
    float: left;
    width: 100%;
    height: 240px;
}

.content_news_2 h3 {
    float: left;
    width: 50%;
    font-size: 14px;
    margin-left: 22px;
    padding: 10px;
    font-weight: normal;
    margin-top: 70px;
}

.content_news_2 h4 {
    float: left;
    width: 50%;
    padding: 10px;
    margin-left: 22px;
    font-size: 17px;
    margin-top: 10px;
    
}

.content_news_2 img {
    float: left;
    padding: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-left: 70px;
    width: 323px;
    height: 180px;
}

/* Footer */

.footer {
    padding-top: 2rem;
    width: 100%;
    height: 180px;
    background-color: rgb(29, 53, 87);
    color: white;
}

.footer a {
    color: white;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
}



.sosmed{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
